{%- macro alert(title, type, options) -%}
    {%- if options is null -%}
        {%- set options = {} -%}
    {%- endif -%}

    {% if options.close is defined %}
        {% set showAlert = options.close %}
    {% else %}
        {% set showAlert = true %}
    {% endif }

    <div class="alert alert-{{ type }} {% if showAlert is true %}alert-dismissible{% endif %}" role="alert">
        {% if showAlert is true %}<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{% endif %}
        {{ title|raw }}
    </div>

{%- endmacro -%}
