{% import 'bootstrap/bootstrap.functions.html.twig' as bootstrap %}

	<nav class="navbar navbar-default navbar-static-top" role="navigation" id="menu">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand">
					Questionnaire
				</div>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#userNavigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="userNavigation">
				<ul class="nav navbar-nav">
					{% for menuItem in menu -%}
						<li>
							{{ bootstrap.link(menuItem.title, menuItem.url, { 'icon': menuItem.icon|default(""), 'text': true }) }}
						</li>
					{%- endfor %}
				</ul>
			</div>
		</div>
	</nav>
