<section class="well">
	<h1>{{ introtext.title }} <span class="pull-right duration"><i class="fa fa-clock-o"></i> Invultijd: &plusmn; 30 minuten</span></h1>
	<p class="text-muted">{{ introtext.description|raw }}</p>
</section>
