<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ pagetitle }}</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" href="favicon.png">
		<link rel="apple-touch-icon-precomposed" href="apple-touch-iphone.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-ipad.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-iphone4.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-ipad-retina.png">

		{% block styles %}
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,600,700">
			<link rel="stylesheet" href="//172.16.0.128/pcs.css">
		{% endblock %}
	</head>
	<body{% if bodyClass is defined %} class="{{ bodyClass }}"{% endif %}>

		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		{% block header %}
			{% include 'layout/template.header.html.twig' %}
		{% endblock header %}

		<div class="container">

			<div class="header">
				<h1 id="logo">{{ brandname }}</h1>
				{% block progress %}{% endblock progress %}
			</div>

			{% block content %}{% endblock %}
			{% block fos_user_content %}{% endblock fos_user_content %}
		</div>

		{% block footer %}
			{% include 'layout/template.footer.html.twig' %}
		{% endblock footer %}

		{% block script %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

			<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
			<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/localization/messages_nl.js"></script>

			<script src="js/main.js"></script>
			<script>
				new Questionnaire({
					checkboxes: $('#questionnaire input[type="radio"], #questionnaire input[type="checkbox"]'),
					scaleTable: $('#questionnaire table[data-type="scale"]'),
					other: $('#questionnaire .other'),
					selectRequired: "--- Selecteer een optie ---",
					uncheckRadio: true
				});
			</script>
		{% endblock %}

	</body>
</html>
